html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    overscroll-behavior: none; /* Prevent pull-to-refresh */
}

.right-sidebar {
    max-width: 300px;
    padding: 2rem;
    flex: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
}

.title, .audio-credit, .difficulty-section, .number-section, input[type=button] {
    width: 100%;
    text-align: center;
}

.title {
    font-size: 24pt;
    font-variant: small-caps;
    margin: 2rem 0;
}

.audio-credit {
    font-size: 8pt;
    margin-bottom: min(2rem, 3vh);
}

input[type=button] {
    height: 3rem;
}

.game {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.quadrant {
    width: 40%;
    height: 40%;
    position: absolute;

    --border-width: 10px;
    border-color: rgba(0, 0, 0, 0.05);
    border-style: dashed;
    z-index: -1;
    border-width: 0;
}
.quadrant.left {
    left: 0;
    border-right-width: var(--border-width);
}
.quadrant.right {
    right: 0;
    border-left-width: var(--border-width);
}
.quadrant.top {
    top: 0;
    border-bottom-width: var(--border-width);
}
.quadrant.bottom {
    bottom: 0;
    border-top-width: var(--border-width);
}

.difficulty-section {
    margin-bottom: 2rem;
    display: none !IMPORTANT;
}

.number-section {
    margin-bottom: min(2rem, 5vh);
}
label[for=number] {
    display: inline-block;
    width: 4rem;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px dashed lightgrey;
    padding: 1rem;
    font-family: monospace;
    font-size: 11pt;
}
.footer 
.footer a, .footer a:visited {
    color: black;
}

.bit {
    width: min(50px, 10vw, 10vh);
    height: min(50px, 10vw, 10vh);
    border-radius: 5px;
    position: absolute;
    border: 3px solid;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    audio {
        display: none;
    }
    .footer {
        position: relative;
        font-size: smaller;
    }

    .title {
        margin: 0;
    }
}
@media screen and (orientation: portrait) {
    body {
        flex-direction: column;
    }
    .right-sidebar {
        width: auto;
        max-width: inherit;
        border-top: 1px solid lightgrey;
        padding: 1rem;
    }
}


